:root {
  --background: #0b0b0e;
  --lighter-background: #282b31;
  --selection-background: #2c5a65;
  --comments-invisibles: #43474c;
  --dark-foreground: #707C74;
  --default-foreground: #bcb28d;
  --light-foreground: #eee8d5;
  --light-background: #fdf6e3;
  --orange: #E6844F;
  --blue: #58b2dc;
  --yellow: #DDA52D;
  --green: #66A866;
  --cyan: #69b0ac;
  --pink: #E03C8A;
  --purple: #646695;
}
